.osnov {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 800px;
    border: 1px solid;
    margin: auto;
    border-radius: 51px;
    margin-top: 5%;
    background: linear-gradient(240deg, #003dce -3.6%, rgb(20, 163, 252) 50%, #003dce 95%);
}

.navbar {
    height: 6px;
    width: 70%;
    margin: auto;
    margin-top: 39px;
    background: #0096EC;
    border-radius: 51px;
}

.text {
    margin: 5%;
    padding: 10% 20% 5% 15%;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    color: white;
}

.imgBar {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.imgBar img {
    border-radius: 20px;
}

.list1 {
    padding-left: 75%;
}